log-in {
    width:max-content;
    height:max-content;

    margin-top:auto;
    margin-bottom:auto;
    margin-left:auto;
    
    display:block;

    border-radius:200px;

    background-color:var(--secondairy);

    line-height: 13px;

    padding: 8px;

    color:var(--primaryTextColor);
}

button {
    width:max-content;
    height:19px;

    margin-top:auto;
    margin-bottom:auto;
    margin-left:auto;
    
    display:block;

    border-radius:200px;

    background-color:var(--secondairy);

    line-height: 20px;

    padding: 8px;

    color:var(--primaryTextColor);
}

display-profile {
    margin-top:auto;
    margin-bottom:auto;
    margin-left:8px;
    margin-right:8px;

    display:block;

    border-radius:200px;

    width:35px;
    height:35px;

    color:var(--primaryTextColor);

    background-color:var(--primary);

    line-height:36px !important;
    text-align:center;
}

.fab {
    display:block;

    position:fixed;
    right:8px;
    bottom:8px;

    border-radius:10px;

    width:max-content;
    height:max-content;

    margin-top:auto;
    margin-bottom:auto;
    margin-left:auto;

    background-color:var(--secondairy);

    padding: 8px;

    color:var(--primaryTextColor);
}