.card {
    background-color:var(--primary);

    color:var(--primaryTextColor);
    
    overflow:auto;
}

.card .card {
    background-color:var(--tertiary);

    color:var(--tertiaryTextColor)
}

.card .card * {
    color:var(--tertiaryTextColor)
}


.card * {
    color:var(--primaryTextColor);
}