.card {
    background-color:var(--primary);

    color:var(--primaryTextColor);
    
    overflow:auto;
}

.card .card {
    background-color:var(--primaryContainer);

    color:var(--primaryContainerTextColor)
}

.card .card * {
    color:var(--primaryContainerTextColor)
}


.card * {
    color:var(--primaryTextColor);
}