.drawer {
    height: calc(100% - 24px);
    margin: 8px;

    display: flex;
    flex-direction: column;

    gap: 8px;

    overflow-y: auto;

    min-width: 300px;

    z-index: 999;
}

.drawer,
.drawer * {
    border-radius: 17px;
}

.drawer * {
    min-width: calc(300px - 16px);
}

.drawerToggle {
    width: 35px;
    height: 34px;

    line-height: 35px !important;

    background-color: var(--primary);
    color: var(--primaryTextColor);

    position: absolute;
    top: 8px;
    left: 320px;

    border-radius: 200px;
  }

  .closedDrawerToggle {
    left: 8px !important;

    border-radius: 10px !important;
  }