accordion-dropdown h5 {
    width:calc(100% - 3px);

    height:max-content;

    border-radius: 200px;

    background-color: var(--primary);
    color: var(--primaryTextColor);

    padding: 3px 3px 3px 8px ;

    display: flex;
    flex-direction: row;

    align-items: center;
    gap: 8px;

    font-size: 17px;
}

accordion-dropdown h5 i {
    border-radius: 200px;

    background-color: var(--primaryContainer);
    color: var(--primaryContainerTextColor);

    margin-left: auto;

    width: max-content;
}

accordion-dropdown {
    display: flex;
    flex-direction: column;
}

accordion-dropdown * {
    height: 100%;
}

accordion-dropdown article * {
    width: 100%;
}

accordion-dropdown article {
    border-radius: 10px;

    padding: 0px 8px 0px 8px;

    background-color: var(--primaryContainer);
    color: var(--primaryContainerTextColor);
}

.accordionItems * {
    width: calc(100% - 8px);
}