accordion-dropdown h5 {
    width:100%;

    border-radius:200px;

    background-color:var(--primary);
    color:var(--primaryTextColor);

    padding:3px 3px 3px 8px !important;
    
    margin-left:2.5px !important;

    display:flex;
    flex-direction:row;

    align-items:center;
    gap:8px;

    font-size:17px;
}

accordion-dropdown h5 i {
    border-radius:200px;

    background-color:var(--primaryContainer);
    color:var(--primaryContainerTextColor);

    margin-left:auto;

    width:max-content !important;
}

accordion-dropdown {
    display:flex;
    flex-direction:column;
}

accordion-dropdown * {
    height:100%;
}

accordion-dropdown article * {
    width:100% !important;
}

accordion-dropdown article {
    border-radius:10px;

    padding:0px 8px 0px 8px;

    height:0px;

    background-color:var(--primaryContainer);
    color:var(--primaryContainerTextColor)
}