accordion-dropdown h5 {
    width:max-content;

    border-radius:200px;

    background-color:var(--primary);
    color:var(--primaryTextColor);

    padding:8px !important;

    display:flex;
    flex-direction:row;

    align-items:center;
}

accordion-dropdown h5 i {
    border-radius:200px;

    background-color:var(--primaryCntainer);
    color:var(--primaryContainerTextColor);
}

accordion-dropdown {
}