hr {
    
    --c:red;   /* Color */
    --t:5px;   /* Thickness */
    --h:10px;  /* Height (vertical distance between two curve) */
    --w:120px; /* Width  */
    --p:13px;  /* adjust this to correct the position when changing the other values*/
    background:
      radial-gradient(farthest-side at 50% calc(100% + var(--p)), transparent 47%, var(--c) 50% calc(50% + var(--t)),transparent calc(52% + var(--t))),
      radial-gradient(farthest-side at 50% calc(0%   - var(--p)), transparent 47%, var(--c) 50% calc(50% + var(--t)),transparent calc(52% + var(--t)));
      
    background-size:var(--w) var(--h);
    background-position:calc(var(--w)/2) calc(var(--h)/2),0px calc(var(--h)/2);
    
    display:inline-block;
    width:100%;
    height:150px;
  }