footer {
  width: 100%;
  min-height: 55px;
  border-width: 2px 0px 0px 0px;
  border-style: solid;
  border-color: var(--primary);
  border-radius: 0px;
  display: flex;
  flex-direction: row;
}

footer>x-icon {
  margin: 8px;
  margin-right: 0px;
}

footer>x-title {
  margin-right: auto;
}