hr {
	width:100%;

    margin-top:0px;
}

hr::before {
	content:'∿∿∿∿∿∿∿∿∿∿∿∿∿∿∿';

	text-decoration-color:var(--primary);

	height:20px !important;

	color:TRANSPARENT;

	overflow:hidden;

	display:block;
}