input, textarea {
    text-align:left;

    padding:4px;

    width:max-content;
}

.card input {
    background-color:var(--secondairy);
    color:var(--secondairyTextColor);
}

.card input::placeholder {
    color:var(--secondairyTextColor);
}