input, textarea {
    text-align:left;

    padding:4px;

    width:max-content;
    background-color:var(--tertiary);
    color:var(--tertiaryTextColor);
}

input::placeholder {
    color:var(--tertiaryTextColor);
}

.card input {
    background-color:var(--secondairy);
    color:var(--secondairyTextColor);
}

.card input::placeholder {
    color:var(--secondairyTextColor);
}

color-picker {
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    'previous hsl hsl presetsExpanded'
    'previous hsl hsl presetsExpanded'
    'presets presets presets presetsExpanded';

    height:250px;
 }

 .color-picker * {
    height:100%;
 }
 
 .previousColor {
    display:flex;
    flex-direction:column;
    row-gap: 8px;
 
    padding:8px;
 
    grid-area: previous;

    background-color:var(--primary);

    width:calc(100% - 16px);
    height: calc(100% - 24px);
 }
 
 .displayColor {
    width:100%;
    height:50%;

    padding-top:7px;

    font-size:14px;
 }

 .presets {
    display:flex;
    flex-direction:row;
    column-gap: 8px;
 
    padding:8px;
 
    grid-area: presets;

    background-color:var(--primary);
 }

 .colorPresetItem {
    width:30px;
    height:30px;

    border-radius:300px;

    margin:0px;
 }