ol, ul {
    margin:0px;
}

li{
    List-style-position: inside;
 }

li:nth-child(6n+1){
    list-style-image: url('../assets/shapes/star.svg');
 }

 li:nth-child(6n+2){
    list-style-image: url('../assets/shapes/circle.svg');
 }

 li:nth-child(6n+3){
    list-style-image: url('../assets/shapes/pentagon.svg');
 }

 li:nth-child(6n+4){
    list-style-image: url('../assets/shapes/square.svg');
 }

 li:nth-child(6n+5){
    list-style-image: url('../assets/shapes/pentagon.svg');
 }

 li:nth-child(6n+6){
    list-style-image: url('../assets/shapes/triangle.svg');
 }

 li::marker{
    font-size: 1.8em;
    line-height: 0.1;
 }