@import "../CSS/icons/all.css";
@import "./header.css";
@import "./text.css";
@import "./buttons.css";
@import "./card.css";
@import "./navigation.css";
@import "./input.css";
@import "./footer.css";
@import "./lists.css";
@import "./dropdowns.css";
@import "./other.css";
@import "./signs.css";
@Import './notifiers.css';
@import './drawers.css';
@import './hr.css';
@import './tables.css';
@import './scrollbar.css';

@import "./template styles/login.css";
@import "./template styles/settings.css";

:root{
    --borderRadius:10px;
    --font: 'Varela'; /*variable that changes based on user selected font */
    --contrast: 1; /*variable that changes based on user selected contrast */
    --wallpaperBlur: 0px;
    --inversion: 0;
    --wallpaperBrightness:1;
    --hueRotation: 0deg;
    --wallpaperInversion: 0;
    --wallpaperSize: cover;
    --wallpaperPosition: center;
    --wallpaperRepeat: no-repeat;
}

@font-face {
    font-family: 'Varela';
    /*a name to be used later*/
    src: url('../assets/fonts/VarelaRound-Regular.ttf');
    /*URL to font*/
}

html {
    background-color:var(--backgroundColor);
}

body, img, iframe img, video, canvas, svg {
    background-size: var(--wallpaperSize);
    background-position: var(--wallpaperPosition);
    background-repeat: var(--wallpaperRepeat);
    
    filter: contrast(var(--contrast)) invert(var(--inversion)) hue-rotate(var(--hueRotation));
    backdrop-filter: blur(var(--wallpaperBlur)) brightness(var(--wallpaperBrightness)) invert(var(--wallpaperInversion)) hue-rotate(calc( -1 * var(--hueRotation)));
}

body,
html {
    width: 100%;
    height: 100%;

    overflow-y: auto;
    overflow-x: hidden;

    margin: 0px;

    overscroll-behavior: none;
}

* {
    overflow-wrap: break-word;
    overscroll-behavior: none;

    font-family: var(--font);
    /* font-weight: lighter; */
    letter-spacing:1px;
    font-size: 17px;

    border-style: solid;
    border-radius: var(--borderRadius);
    border-color: var(--primary);
    border-width: 0px;

    text-align: center;

    width: max-content;
    height: max-content;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    position:relative;
}

img, iframe iframe img, video, canvas, svg {
    filter: hue-rotate(calc( -1 * var(--hueRotation)));
}

.transparencyMode * :not(body) {
    opacity:0.9
}

li {
    display: list-item;
}

h1 {
    font-size: 2em;

    margin: 8px;
    padding: 8px;

    background-color: var(--tertiary);
    color: var(--tertiaryTextColor);
}

h2 {
    font-size: 1.5em;

    margin: 8px;
    padding: 8px;

    background-color: var(--tertiary);
    color: var(--tertiaryTextColor);
}

h3 {
    font-size: 1.3em;

    margin: 8px;
    padding: 8px;

    background-color: var(--tertiary);
    color: var(--tertiaryTextColor);
}

h4 {
    font-size: 1em;

    margin: 8px;
    padding: 8px;

    background-color: var(--tertiary);
    color: var(--tertiaryTextColor);
}

h5 {
    font-size: 0.8em;

    margin: 8px;
    padding: 8px;

    background-color: var(--tertiary);
    color: var(--tertiaryTextColor);
}

h6 {
    font-size: 0.7em;

    margin: 8px;
    padding: 8px;

    background-color: var(--tertiary);
    color: var(--tertiaryTextColor);
}

label {
    width: max-content;
}

.hiddenAccordion {
    height: max-content ;
}

.hidden {
    height: max-content ;
}

.hidden * {
    display: none ;
}

a {
    text-decoration: none;
}

*:empty:not(:focus):before :not(hr) {
    content: attr(placeholder);

    font-size: 14px;
}

*:disabled {
    opacity: 0.6
}

.Hidden { /* class to hide a element */
    display:none;
}

.row {
    display:flex;
    flex-direction:row;
}

.rtlLayout * {
    direction: rtl;
}

.comapnyInfoA {
    display:flex;
    flex-direction:row;

    margin-top:auto;
    margin-bottom:auto;
    margin-right: auto;
    margin-left:8px;

    text-decoration:none;
}

*:disabled {
    opacity:0.7;
}

.selected {
    opacity:0.5;
}