@import "../CSS/icons/all.css";
@import "./header.css";
@import "./text.css";
@import "./buttons.css";
@import "./card.css";
@import "./navigation.css";
@import "./input.css";
@import "./footer.css";
@import "./lists.css";
@import "./dropdowns.css";
@import "./other.css";
@import "./signs.css";
@Import './notifiers.css';
@import './drawers.css';
@import './hr.css';
@import './tables.css';
@import './scrollbar.css';

@import "./template styles/login.css";
@import "./template styles/settings.css";

:root{
    --borderRadius:10px;
    --font: sans-serif; /*variable that changes based on user selected font */
}

body,
html {
    width: 100%;
    height: 100%;

    overflow-y: auto;
    overflow-x: hidden;

    margin: 0px;

    overscroll-behavior: none;
}

* {
    overscroll-behavior: none;

    font-family: var(--font);
    font-size: 17px;

    border-style: solid;
    border-radius: var(--borderRadius);
    border-color: var(--primary);
    border-width: 0px;

    text-align: center;

    width: max-content;
    height: max-content;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    position:relative;
}

.transparencyMode * :not(body) {
    opacity:0.9
}

li {
    display: list-item;
}

h1 {
    font-size: 2em;

    margin: 8px;
    padding: 8px;

    background-color: var(--tertiary);
    color: var(--tertiaryTextColor);
}

h2 {
    font-size: 1.5em;

    margin: 8px;
    padding: 8px;

    background-color: var(--tertiary);
    color: var(--tertiaryTextColor);
}

h3 {
    font-size: 1.3em;

    margin: 8px;
    padding: 8px;

    background-color: var(--tertiary);
    color: var(--tertiaryTextColor);
}

h4 {
    font-size: 1em;

    margin: 8px;
    padding: 8px;

    background-color: var(--tertiary);
    color: var(--tertiaryTextColor);
}

h5 {
    font-size: 0.8em;

    margin: 8px;
    padding: 8px;

    background-color: var(--tertiary);
    color: var(--tertiaryTextColor);
}

h6 {
    font-size: 0.7em;

    margin: 8px;
    padding: 8px;

    background-color: var(--tertiary);
    color: var(--tertiaryTextColor);
}

label {
    width: max-content;
}

.hiddenAccordion {
    height: max-content ;
}

.hidden {
    height: max-content ;
}

.hidden * {
    display: none ;
}

a {
    text-decoration: none;
}

*:empty:not(:focus):before :not(hr) {
    content: attr(placeholder);

    font-size: 14px;
}

*:disabled {
    opacity: 0.6
}

.Hidden { /* class to hide a element */
    display:none;
}

.row {
    display:flex;
    flex-direction:row;
}

.rtlLayout * {
    direction: rtl;
}

.comapnyInfoA {
    display:flex;
    flex-direction:row;

    margin-top:auto;
    margin-bottom:auto;
    margin-right: auto;
    margin-left:8px;

    text-decoration:none;
}

*:disabled {
    opacity:0.7;
}