.tabBarHolder {
    border-width:2px;
    padding:3px;

    display:flex;
    flex-direction:row;
}

.tabBarHolder a {
    background-color:var(--primary);
    color:var(--primaryTextColor);

    text-decoration:none;

    height:19px;
    padding: 8px;

    width:400px;
}