.tabBarHolder {
    border-width:1px;
    padding:2px;

    display:flex;
    flex-direction:row;
}

.tabBarHolder a {
    background-color:var(--primary);

    text-decoration:none;

    height:19px;
    padding: 8px;

    width:200px;
}