.tabBarHolder {
    border-width:2px;
    padding:3px;

    display:grid;
    grid-column-gap:4px;

    border-radius:800px;

    width:min-content;
}

.tabBarHolder a {
    background-color:TRANSPARENT;

    color:var(--primaryTextColor);

    border-width:2px;

    text-decoration:none;

    height:12px;
    line-height:13px;
    
    padding: 8px;

    width:150px;
}

.tabBarHolder .current {
    background-color:var(--primary);
    color:var(--primaryTextColor);
}