.dialogWrapper {
    width:100%;
    height:100%;

    background-color:rgba(0,0,0, 0.4);

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position:fixed;
    z-index: 9999009999999;

    top:0px;
    left:0px;
}

.dialog {
    padding:8px;
    
    border-radius:15px;

    background-color:var(--tertiary);
}

.titleWrapper {
    display:grid;
    grid-template-columns: 1fr 1fr 41.6px;
    gap:8px;

    border-radius:10px;
    background-color:var(--tertiary);
    margin:8px;

    grid-template-areas: 'title title close';
}

.closeDialogButton {
    grid-area: close;

    min-width:41.6px;
    height:41.6px;

    text-align: center;

    background-color:var(--error);

    color:var(--errorTextColor);

    border-radius:100px;
}

.dialogTitle {
    grid-area:title;
}