::-moz-selection { /* Code for Firefox */
    color: var(--secondairyTextColor);
    background: var(--secondairy);
  }
  
  ::selection {
    color: var(--secondairyTextColor);
    background: var(--secondairy);
  }