::-webkit-scrollbar {
    width: 8px;
    height:8px;

    border-radius:200px;
  }

  ::-webkit-scrollbar-track {
    background: TRANSPARENT;

    border-radius:200px;
  }

  /* Handle */
::-webkit-scrollbar-thumb {
    background: var(--secondairyContainer);

    border-radius:200px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--secondairy);

    border-radius:200px;
  }

  .tabBarHolder::-webkit-scrollbar-thumb {
    background: var(--tertiary);

    border-radius:200px;
  }
  
  /* Handle on hover */
  .tabBarHolder::-webkit-scrollbar-thumb:hover {
    background: var(--tertiary);

    border-radius:200px;
  }

  .tabBarHolder::-webkit-scrollbar-track {
    margin:15px;
  }