.sign {
    flex-direction:column;

    padding:8px;
}

.sign label {
    text-align:right;

    margin-right:8px;
}

.sign .title {

    text-align:left;
}

.sign .msg {
    font-size:16px;

    text-align:left;
}

.signHolder {
    width:100%;

    flex-direction:row;
    align-items:center;

    margin-top:0px;
    padding:4px;

    margin-bottom:8px;
}

.note {
    background-color:var(--note);
}

.note label {
    color:var(--noteTextColor);
}

.note .signHolder {
    background-color:var(--noteContainer);
}

.note .signHolder label {
    color:var(--noteContainerTextColor);
}

.error {
    background-color:var(--error);
}

.error label {
    color:var(--errorTextColor);
}

.warning {
    background-color:var(--warning);
}

.warning label {
    color:var(--warningTextColor);
}

.check {
    background-color:var(--check);
}

.check label {
    color:var(--checkTextColor);
}