.sign {
    flex-direction:column;
}

.sign label {
    flex:0;
}

.sign .title {
    flex:1;

    text-align:left;
}

.sign .msg {
    font-size:16px;

    text-align:left;
}

.signHolder {
    flex-direction:row;
    align-items:center;
    background-color:TRANSPARENT;

    margin-top:0px;
    padding:0px;
}

.note {
    background-color:var(--note);
}

.note label {
    color:var(--noteTextColor);
}

.error {
    background-color:var(--error);
}

.error label {
    color:var(--errorTextColor);
}

.warning {
    background-color:var(--warning);
}

.warning label {
    color:var(--warningTextColor);
}

.check {
    background-color:var(--check);
}

.check label {
    color:var(--checkTextColor);
}