#auth {
    margin-left:auto;
    margin-right:auto;
    margin-bottom:8px;

    height:fit-content;
}

#loginCard {
    width:300px;
}

#loginCard * {
    padding:8px;
}

#loginCard h2 {
    border-bottom-width:1px;
    border-color:var(--primaryTextColor);
    border-radius:0px;

    margin:0px 0px 8px 0px;
}

#loginCard p {
    margin:0px 0px 8px 0px
}

#drawer {
    height:100%;
    width:300px;

    overflow:auto;
}

#drawer article {
    padding:8px;
}