#auth {
    margin-left:auto;
    margin-right:auto;

    height:fit-content;
}

#loginCard {
    width:300px;
}

#loginCard h2 {
    border-bottom-width:2px;
    border-color:var(--primaryTextColor);
    border-radius:0px;
}