#quickSettingsPanel{
    min-width:280px;

    position: fixed;

    right:8px;

    display: flex;
    flex-direction: column;

    background-color:TRANSPARENT;
}

 @media screen and (orientation:landscape) {
    #quickSettingsPanel{
    top:58px;
}
 }

 @media screen and (orientation:portrait) {
    #quickSettingsPanel{
    max-width:calc(100% - 16px);
    bottom:8px;
}
 }

#quickSettingsPanel list-viewer {
    display:grid;

    grid-template-columns:1fr 1fr;

    gap:8px;

    padding:8px;

    background-color:var(--secondairy);

    width: calc(100% - 16px);

    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
}

#quickSettingsPanel list-viewer li {
    margin-bottom:0px;

    align-items: center;
    justify-content: center;
}

.settingsDisclaimers {
    gap:8px;

    color:var(--secondairyTextColor);

    width:100%;

    justify-content:center;

    background-color:var(--secondairy);

    margin-top:3px;

    padding:8px;

    border-top-left-radius:0px;
    border-top-right-radius:0px;

    width: calc(100% - 16px);

}

.settingsDisclaimers a {
    color:var(--secondairyTextColor);
}