#quickSettingsPanel {
    min-width:250px;
    min-height:300px;

    position: fixed;

    top:58px;
    right:8px;

    background-color:var(--secondairy);

    padding:8px;
}

#quickSettingsPanel list-viewer {
    display:grid;

    grid-template-columns:1fr 1fr;

    gap:8px;
}

#quickSettingsPanel list-viewer li {
    margin-bottom:0px;

    align-items: center;
    justify-content: center;
}