#quickSettingsPanel{
    min-width:280px;
    min-height:300px;

    position: fixed;

    top:58px;
    right:8px;

    background-color:var(--secondairy);

    padding:8px;
}

#quickSettingsPanel list-viewer {
    display:grid;

    grid-template-columns:1fr 1fr;

    gap:8px;

    width:calc(100% - 16px);

    overflow: hidden; /* Hide overflowing content */ 
}

#quickSettingsPanel list-viewer li {
    margin-bottom:0px;

    align-items: center;
    justify-content: center;

    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
}